div{
    float: left;
    background-color: rgb(221, 231, 231);
}

.container {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex: 50%;
    padding: 20px;
  }

  .column img {
    max-width: 80%;
    border-radius: 20px;
    margin-left: 65px;
  }

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
  }

  p {
    padding-top: 120px;
    padding-right: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 15pt;
  }