#flor {
    height: 400px;
    width: 400px;
    margin: 50px;
    border: solid violet;
    border-width: 20px;
    border-radius: 5px;
    background-image: url(https://imagens-revista.vivadecora.com.br/uploads/2018/05/tipos-de-flores-amor-perfeito.jpg);
    text-align: center;
    box-shadow: 50px;
    background-size: cover;
    padding: 10px;
    outline-width: 16px;
    outline-style: double;
    outline-color: blue;
}

p {
    padding-top: 100px;
    font-size: 50px;
    font-style: italic;
    color: yellow;
    font-weight: bold;
}